<% name = link_to_content(a.author.profile.full_name, a.author.profile) %>
<% owner = link_to_content(a.object.profile.full_name, a.object.profile) %>
<% if name == owner -%>
    <% text = I18n.t('activities.graffity.own', :user => name) %>
<% else -%>
    <% text = I18n.t(activity_i18n_key(a), :user => name, :owner => owner) %>
<% end -%>
<div class="image"><%#= icon_ss_brick_add %></div>
<div class="text"><%= text %></div>