<div class="image">
  <%= link_to icon_for_profile(a.author.profile, 'tiny'), profile_path(a.author.profile) %>
</div>
<div class="text">
  <% name = link_to a.author.profile.full_name, profile_path(a.author.profile) %>
  <% owner = link_to a.object.profile.full_name, profile_path(a.object.profile) %>
  <%= I18n.t( activity_i18n_key(a), :user => name, :owner => owner ) %>
</div>